* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-wrap: wrap;
}

.header {
  padding: 20px;
  background-color: #860a0ae1;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}


.nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

.nav ul {
  list-style-type: none;
}

.nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.nav ul li a:hover {
  color: #ffffff;
  text-decoration:underline;
  font-weight: bold;

}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.content {
  width: 100%;
  display: inline-block;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.description {
  margin: 20px;
  padding: 5px;
  height: auto;
  min-height: 300px;
  background-color: #0072bb;
  color: #000000;
}

.description img {
  max-height: 200px;
  border-radius: 60px;
  padding: 20px;
}

.description h2 {
  font-size: 36px;
  text-decoration:underline;
}

.work {
  margin: 20px;
  padding: 20px;
  height: auto;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
}

.work img {
  display: block;
  max-height: 200px;
  max-width: 210px;
  padding: 0px;
  margin: auto;
  width: 50%;
}

.work h2 {
  font-size: 36px;
  text-decoration:underline;
}

.cont {
  padding: 10px;
  height: auto;
  background-color: #0072bb;
  color: #000000;
}

.cont h2 {
  font-size: 36px;
  text-decoration:underline;

}

.nav2 {
  text-align: center;
  font-size: 30px;
}

.nav2 ul {
  list-style-type: none;
}

.nav2 ul li {
  display: inline-block;
  margin-left: 10%;
}

.nav2 ul li a {
  color: #000000;
}

.nav2 ul li a u:hover {
  color: #fff;
  font-weight: bold;
}

.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card:hover {
  border-width: 5px;
  padding: 6px;
}

.card header {
  padding: 20px;
  text-align: center;
  background: #860a0ae1;
  color: #fff;
}

.project {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 80%;
}
.project:hover {
  border-width: 5px;
  padding: 6px;
  background-color: #000000;
}

.project header {
  padding: 20px;
  text-align: center;
  background: #860a0ae1;
  color: #fff;
}

.card p {
  text-align: center;
}

.project p {
  text-align: center;
}

a img:last-child {
  display: none;  
}

a:hover img:last-child {
  display: block;  
}

a:hover img:nth-child(3) {
  display: none;  
}

.soon{
  display: none;
}

.card:hover .title{
  display:none;
}

.project:hover .soon{
  display:flex;
  background: #0a3586e1;
} 

.project:hover .title{
  display:none;
}

.card:hover .soon{
  display:flex;
  background: #0a3586e1;
} 

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
